#big-card {
  padding: 3rem;
  background-image: url("../../assets/svg/blob-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
