.section1 {
  margin-top: 4rem;

  .row {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;

    @media (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
    }

    .card-img {
      width: 64px;
      height: 64px;
    }
  }
}

#section2 {
  margin-top: 7rem;
  background-color: #f4ecfc;
  padding: 5rem 0;

  .section2 {
    margin-top: 4rem;

    .row {
      width: 60%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;

      @media (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 80px;
      }

      .card {
        background-color: #ffffff;
        border-radius: 25px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 200px;

        @media (max-width: 650px) {
          height: 100%;
        }
      }
    }
  }
}

#section3 {
  margin-top: 8rem;
  .content {
    width: 73%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;

    @media (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
    }

    .imgIllustration {
      width: 360px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 650px) {
        max-width: 280px;
        width: 100%;
      }
    }
  }
}

#section4 {
  margin-top: 8rem;
  color: #ffffff;
  .content {
    width: 65%;
    margin: auto;
    text-align: center;

    .big-card {
      padding: 3rem;
      background-image: url("../../assets/svg/blob-bg.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 25px;
    }

    button {
      font-size: 24px;
      font-weight: 600;
      color: rgb(33, 0, 63);
    }
  }
}
