.section {
  margin: 7rem 0;

  .section-container {
    max-width: 1100px;
    height: 100%;
    margin: auto;

    .section-heading {
      text-align: center;
      width: 60%;
      margin: auto;
    }
  }
}
